<div class="sudheader">
  <div class="sudheader_menu">
    {%- for block in section.blocks -%}
      <div class="menu__item">
        <span class="icon icon-icon-car"></span>
        <p class="menu__title">{{ block.settings.text | escape }}
        </p>
      </div>
    {%- endfor -%}
  </div>
</div>



{% schema %}
  {
    "name": "Subheader",
    "tag": "section",
    "max_blocks": 6,
    "class": "subheader",
    "settings": [
      {
        "type": "text",
        "id": "slider_text",
        "label": "Subheader"
      }
    ],
    "blocks": [
      {}
    ],
    "presets": [
      {
        "name": "Subheader"
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  }
{% endschema %}
