{% if section.settings != blank %}
  <div class="sudheader">
    <div class="sudheader_menu">
      {%- for block in section.blocks -%}
        <div class="menu__item">
          <span class="icon icon-icon-car"></span>
          <p class="menu__title">{{ block.settings.text_field | escape }}
          </p>
        </div>
      {%- endfor -%}
    </div>
  </div>
{% endif %}



{% schema %}
  {
    "name": "Subheader",
    "tag": "section",
    "max_blocks": 6,
    "class": "subheader",
    "settings": [
      {
        "label": "Subheader"
      }
    ],
    "blocks": [
      {
        "name": "Text block",
        "type": "text_block",
        "settings": [
          {
            "type": "text",
            "id": "text_field",
            "label": "Text field",
            "defualt": "Some info"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Subheader"
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  }
{% endschema %}
